
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
   
   background-color: #262626;
   background-image:url(../pictures/ccc.jpg);
   background-size: cover;
}

ul .active a{
    
        color: black !important;
        border-bottom: 4px solid red;

        border-top: 4px solid red;

}
a{
    text-decoration: none !important;
    color: white;

    
}
h1 a:hover{
    color: white !important;
    text-shadow: 0px 0px 10px white;
}

.maincont{
    background-color: white;
    padding: 50px;
    height: 50vh ;
    
}
.carousel-inner {
    height: 350px!important;
    margin-top: 70px !important;
}
.navbar{
    background-color: white !important;
}

.countdown{
    background-color: white;
    color:red;
    border: 5px solid rgb(10, 223, 252);
    width: 200px;
    height:100px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 50px;
    font-size: 20px;
    margin-top: -390px;
}
.now{
    text-shadow: 0px 0px 20px blue;
    color:yellow;
    border-radius: 100%;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -400px;
}
.nav-item a {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    margin-left:10px;
    margin-right: 10px;
    height: 40px;
    color: black !important;
}
.nav-link:hover{
   
border-bottom: 4px solid red;
border-top: 4px solid red;

transition: 0.2s;
}

.navbar-nav{
    margin:auto;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    color:black !important;
    margin-left: 20px;
}

.login-box{
    background-color:white;
    color: black;
    margin: auto;
    margin-top: 200px;
    padding: 5px;
    box-shadow: 0px 10px 10px #0ff8;
 

}
.login-box-heading{
  
    background-color: #258;
    color: white;
    height: 50px;
  
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}