
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
   
   background-color: #262626;
   background-image:url(../pictures/ccc-01.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top:150px ;

    
}
.maincont{
    font-family: roboto;
    padding: 20px;
}
.c1 a,.c2 a{
    box-shadow: 0px 0px 5px lightgreen;
    background-color:rgb(0, 255, 0);
    font-size: 20px;
 padding: 20px 60px;
    text-align: center;
    border-radius: 50px;
    color:black;
    font-weight: bolder;
}
.c2 a{
    background-color: rgb(0, 174, 243);
    box-shadow: 0px 0px 5px skyblue;

}
.c1 a:hover{
    box-shadow: 0px 0px 15px rgb(0, 255, 0);
   
}
.c2 a:hover{
    box-shadow: 0px 0px 15px rgb(0, 174, 243);
   
}
.nav-link:hover{
   
    border-bottom: 3px solid yellow;
    
    transition: 0.2s;
    }
ul .active a{
    
        color: white !important;
        border-bottom: 3px solid yellow;
        

}
a{
    text-decoration: none !important;
    color: black;

    
}
h1 a:hover{
    color: white !important;
    text-shadow: 0px 0px 10px white;
}


.fixed-top.scrolled {
    background-color: #494949 !important;
    transition: background-color 200ms linear;
}

@media only screen and (max-width: 700px)
{


    body{
   
        background-color: #262626;
        background-size: cover;
        background-attachment: fixed;
        background-position: unset;
     }

    .navbar-collapse{
        background-color: black;
        text-align: center;

    }
    .nav-item{
        width: auto;
        margin: auto;

    }
    ul .active a{
    
        color: white !important;
        border-bottom: 3px solid yellow;
    }
	
}

.navbar{

    background-color: transparent !important;
}

.countdown{
    color:red;
    text-shadow: 0px 0px 5px white;;
    background-color: white;
    width: 200px;
    height:auto;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin-right: 60px;
    font-size: 30px;
    margin-top: -450px;
}
.now{
    text-shadow: 0px 0px 20px blue;
    color:yellow;
    border-radius: 100%;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -400px;
}

.nav-item a {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    margin-left:10px;
    margin-right: 10px;
    height: 40px;
    color: white !important;
}
.dropdown-menu a{
    color:black !important;
}


.navbar-nav{
    margin:auto;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    color:black !important;
    margin-left: 20px;
}

.login-box{
    background-color:white;
    color: black;
    margin: auto;
    margin-top: 200px;
    padding: 5px;
    box-shadow: 0px 10px 10px #0ff8;
 

}
.login-box-heading{
  
    background-color: #258;
    color: white;
    height: 50px;
  
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}