#previewImage{
    margin-top: -150px;
    margin-left: 50px;
    border: 1px solid rgb(0, 0, 0);
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    letter-spacing: 1px;

}

.login_details{
    display: flex;
    border: 2px solid #eee;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

}
.login_details .title{
    font-weight: bold;

}
.login_details .note{
    color: red;
    font-size: 12px;
    width: 35%;
}
.login_details div{
    margin: 5px 15px;
}


.personal-details{
    padding: 10px 0;

    border: 2px solid #ddd;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}
.personal-details .title{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.citizenship-details-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid #eee;
    padding: 10px 0;
    margin: 10px 0;
}
.citizenship-details-wrapper .form-group{
   width: 40%;
  
}
.citizenship-details-wrapper .header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.citizenship-details-wrapper .header .title{
    width: 100%;
    text-align: center;
    font-weight: bold;

}
.citizenship-details-wrapper .header .contents{
    width: 100%;
    display: flex;


}
.citizenship-details-wrapper .header .contents .form-group{
    margin: 0 5px;




}
.citizenship-details-wrapper .header .title{
    width: 100% !important;
    text-align: center;

}
.permanent_address_details{
    border: 2px solid #eee;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.permanent_address_details .title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    

}
.permanent_address_details .form-group{
    width: 200px;
    margin: 20px;
}